{% extends 'base.html' %}

{% block content %}

<div class="col-lg-8 offset-lg-2">
    <div class="h5 text-center mb-3 font-weight-normal">Chat History</div>
    <ul class="list-group">
        {% for item in items %}
        <li class="list-group-item d-flex justify-content-end">
            <div style="font-size:0.7rem;font-style:italic;">{{ item.date_posted }}</div> &nbsp;&nbsp;
            <a href="{% url 'chatgpt:delete_chatgpt_history' item.slug %}">
                <div style="font-size:0.7rem;">[&#128465;]</div>
            </a>
        </li>
        <div class="card user-message mb-1">
            <div class="card-body">{{ item.user_message }}</div>
        </div>
        <div class="card ai-message">
            <div class="card-body">{{ item.ai_message_html | safe }}</div>
        </div>
        <br>
        {% endfor %}
    </ul>
    <br>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if items.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}">Previous</a>
            </li>
            {% endif %}
            {% for num in items.paginator.page_range %}
            <li class="page-item {% if items.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}
            {% if items.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ items.paginator.num_pages }}">Last</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock content %}