{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col-lg-8 offset-lg-2">
    <form class="upload-form" id="upload-form" method="post" enctype="multipart/form-data"
        status_message="{{ status_message }}">{% csrf_token %}
        <div class="h5 text-center mb-3 font-weight-normal">Upload Data File</div>

        <!---------------------------- upload file --------------------------->
        <div class="d-grid d-flex justify-content-center">
            Upload csv file for custom GPT.
        </div>
        <br>
        <label for="id_doc_file" class="form-label">Browse for file to upload</label>
        <div class="input-group mb-3">
            <input type="file" name="doc_file" id="id_doc_file" class="form-control" accept=".csv"
                placeholder="Browse for the file" required>
            <label class="input-group-text" for="id_doc_file">CSV</label>
            <div id="id_doc_file_error"></div>
        </div>
        <br>
        <label for="id_doc_elements" class="form-label">Specify each column separated by a comma</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="id_doc_elements">Columns</span>
            <input type="text" name="doc_elements" id="id_doc_elements" class="form-control"
                aria-describedby="doc_elements">
        </div>
        <br>
        <div class="progress" style="height:5px;">
            <div class="progress-bar" id="id_progress_bar" style="text-align:center;width:0%"></div>
        </div>
        <div class="d-grid d-flex justify-content-center">{{ status_message }}</div>
        <!-- <div id="notice-msg">{{ status_message }}</div> -->
        <br>
        <!---------------------------- end file upload ----------------------->

        {% if form.errors %}
        <ul style="list-style-type:none;">
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <li>{{field.label}}: {{ error|escape }}</li>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <li>{{field.label}}: {{ error|escape }}</li>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
        <br>
        <!-- submit btn -->
        <div class="d-grid gap-1 d-flex justify-content-between">
            <button type="button" class="btn btn-outline-secondary" onclick="javascript:history.back()">Back</button>
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-success">Upload</button>
                <div style="font-size:1.5rem;">&rarr;</div>
                <a class="btn btn-outline-primary" href="{% url 'rag:get_rag' %}">RAG</a>
            </div>
        </div>
    </form>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/upload.js' %}"></script>
{% endblock scripts %}