{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col-lg-8 offset-lg-2">
    <form class="upload-form" id="upload-form" method="post" enctype="multipart/form-data"
        status_message="{{ status_message }}">{% csrf_token %}
        <div class="h5 text-center mb-3 font-weight-normal">Data Upload</div>

        <!---------------------------- upload file --------------------------->
        <div class="d-grid d-flex justify-content-center">
            You have to upload your data file before using chatgpt. Select a method for upload:
        </div>
        <br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-outline-primary" href="{% url 'data:file_upload' %}">File Upload</a>
            <a class="btn btn-outline-primary" href="{% url 'data:csv_upload' %}">CSV Upload</a>
            <a class="btn btn-outline-primary" href="{% url 'data:web_base_upload' %}">Web Content Upload</a>
            <a class="btn btn-outline-primary" href="{% url 'data:online_pdf_upload' %}">Online PDF Upload</a>
            <a class="btn btn-outline-primary" href="{% url 'data:directory_upload' %}">Multiple File Upload</a>
        </div>
        <br>
        <div class="d-grid d-flex justify-content-center">{{ status_message }}</div>
        <!-- <div id="notice-msg">{{ status_message }}</div> -->
        <br>
        <!---------------------------- end file upload ----------------------->

        {% if form.errors %}
        <ul style="list-style-type:none;">
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <li>{{field.label}}: {{ error|escape }}</li>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <li>{{field.label}}: {{ error|escape }}</li>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
        <br>
        <!-- submit btn -->
        <div class="d-grid gap-1 d-flex justify-content-between">
            <button type="button" class="btn btn-outline-secondary" onclick="javascript:history.back()">Back</button>
            <div class="d-grid gap-2 d-flex justify-content-center">
                <a class="btn btn-outline-primary" href="{% url 'chatgpt:get_chatgpt' %}">chatgpt</a>
            </div>
        </div>
    </form>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/upload.js' %}"></script>
{% endblock scripts %}