{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col-lg-8 offset-lg-2">
    <form class="vector-db-form" id="vector-db-form" method="post" enctype="multipart/form-data"
        status_message="{{ status_message }}">{% csrf_token %}
        <div class="h5 text-center mb-3 font-weight-normal">Create Index/Vector DB</div>

        <!---------------------------- Vector DB ----------------------------->
        <div class="d-grid d-flex justify-content-center">
            The index/vector db to be created using these selections. To change selection, go to LLM Settings.
        </div>
        <br>
        <!-- llm -->
        <div class="col-lg-4 offset-lg-4 mb-3">
            <label for="id_llm" class="form-label">LLM*</label>
            <input type="text" name="llm" id="id_llm" class="form-control" placeholder="LLM"
                value="{{ form.initial.llm }}" readonly>
        </div>
        <!-- llm model -->
        <div class="col-lg-4 offset-lg-4 mb-3">
            <label for="id_llm_model" class="form-label">LLM Model*</label>
            <input type="text" name="llm_model" id="id_llm_model" class="form-control" placeholder="LLM Model"
                value="{{ form.initial.llm_model }}" readonly>
        </div>
        <!-- vector db -->
        <div class="col-lg-4 offset-lg-4 mb-3">
            <label for="id_vector_db" class="form-label">Vector DB*</label>
            <input type="text" name="vector_db" id="id_vector_db" class="form-control" placeholder="Vector DB"
                value="{{ form.initial.vector_db }}" readonly>
        </div>
        <br>
        <div class="progress" style="height:5px;">
            <div class="progress-bar" id="id_progress_bar" style="text-align:center;width:0%"></div>
        </div>
        <div class="d-grid d-flex justify-content-center">{{ status_message }}</div>
        <br>
        <!---------------------------- end Vector DB ------------------------->

        {% if form.errors %}
        <ul style="list-style-type:none;">
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <li>{{field.label}}: {{ error|escape }}</li>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <li>{{field.label}}: {{ error|escape }}</li>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
        <br>
        <!-- submit btn -->
        <div class="d-grid gap-1 d-flex justify-content-between">
            <button type="button" class="btn btn-outline-secondary" onclick="javascript:history.back()">Back</button>
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-success">Create</button>
                <div style="font-size:1.5rem;">&rarr;</div>
                <a class="btn btn-outline-primary" href="{% url 'chatgpt:get_chatgpt' %}">chatgpt</a>
            </div>
        </div>
    </form>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/vector_db.js' %}"></script>
<script src="{% static 'js/llm_settings.js' %}"></script>
{% endblock scripts %}